body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img2.wallspic.com-ilusin_ptica-5120x2880.jpg);background-size: cover;background-position: center;background-repeat: no-repeat;
}

h1{
    text-align: center;font-weight: 500;border: solid 5px;background-color: blueviolet;
}

p{
    margin: 20px;font-weight: 1000;background-color: blueviolet;
}

img{
    width: 500px;
}

div{

    display: flex;
    justify-content: center;
    align-items: center;
    
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;background-color: blueviolet;
}
